<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lokal Events</title>
  </head>
  <body>

    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/logout">Logout</a>
    <a href="/profile">Profile</a>

    <ul>
      <% theEvents.forEach(function(event) { %>
      <%= event.date %>
      <%= event.title %>: <%= event.description %>
      <br>
      <br>
      <% }); %>
    </ul>
  </body>
</html>
