<h1>Your Posts</h1>
<a href="/newEvent">Create new event</a>
<br>
<br>
<% events.forEach(function(event) { %>
<%= event.date %>
<br>
<%= event.title %>
<br>
<br>
<%= event.description %>
<br>
<a href="/event/<%= event.id %>">EDIT / DELETE </a>

<br>
<br>
<br>
<% }) %>
